html,body {
	padding:0;
	margin:0;
	background-image: url("background.jpg");
	/*background-color: dodgerblue;*/
    background-repeat: repeat;
}

#bar {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 48px;
	padding-top: 12px;
	padding-right: 10px;
	height: 104px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#body {
	margin-top: 15px;
}

.button {
    background-color: white;
	border-radius: 4px;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 23px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
	color: black;
    border: 2px solid white;
}

.button1:hover {
    background-color: black;
	color: white;
	border: 2px solid black;
}